# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.cpp
*.so

# temporary structure
data/
build/
output/
results/
temporary/

# PyCharm
.idea/
# Dropbox sync
.dropbox.attr

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Documentation
docs/build
