six >= 1.7.3
Cython >= 0.28  # 0.27 fails with python 3.7
numpy >= 1.13.3  # version 1.16 breaks skimage 0.14
scipy >= 1.0
pandas >= 0.19
pillow >= 2.1.0, < 7  # fail loading JPG images
matplotlib >= 2.0.2
scikit-learn >= 0.18.1
scikit-image >= 0.13.0
tqdm >= 4.7.4
olefile == 0.44  # new version - ImportError: No module named OleFileIO_PL
nibabel >= 2.1.0
planar >= 0.4
# networkx
https://github.com/Borda/pyGCO/archive/master.zip#egg=gco-wrapper>=3.0.3
pyyaml >= 5.1