numpy>=1.9.3
scipy>=0.15.1
pandas>=0.14.1
six>=1.7.3
pillow>=2.1.0
Cython>=0.23
matplotlib>=2.0.2
scikit-learn>=0.18.1
scikit-image>=0.13.0
ipython>=4.2.0
tqdm>=4.7.4
olefile==0.44  # new version - ImportError: No module named OleFileIO_PL
nibabel>=2.1.0
planar>=0.4
gco-wrapper>=3.0.3