sphinx>=4.0, <4.1
m2r  # fails with multi-line text
myst-parser
nbsphinx==0.8.5  # freeze for some "Unexpected indentation" in notebooks
pandoc>=1.0
better-apidoc
docutils>=0.16
sphinx-copybutton>=0.3
ipython
furo
